.booking-form{
    z-index: 3;
    border: 1px solid lightgrey;
    width: 330px;
    height:360px;
    border-radius: 4%;
    margin-bottom: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 3.1vh 1.6vw;

}


.nightlyPrice-stars {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.bookingform-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.period{
    padding-left: .3vw;
    padding-right: .3vw;
    line-height: .8;
    font-weight: bold;
}


.bookingform-nightlyPrice{
    font-size: 1.3vw;
    font-weight: bold;
}

.night{
    font-size: 1vw;
    font-weight: normal;
}

.bookingform-checkin-checkout-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;

}

.date-form{
    margin-bottom: 3vh;
}


.booking-submit-button {
    width: 100%;
    color: white;
    background-color: red;
    height: 5.5vh;
    padding: 1.3vh 5vw 2.5vh 5vw;
    /* padding: 14px 24px 32px 24px; */
    background: linear-gradient(
        90deg,
        #d70464,
        #d90661,
        #dc0a5e,
        #de0d5b,
        #e01158,
        #e21555,
        #e31952,
        #e51d4f
      );
      border-radius: 8px;
      font-size: 17px
}

.booking-submit-button:hover {
       cursor: pointer;
}
