.spot-description-container {
    display: flex;
    width: 85vw;
    padding-bottom: 2px;
    margin-left: 7vw;
    margin-top: -3%;
}

.spot-description {
    font-family: "Figtree", sans-serif;
    font-weight: normal;
}

.spot-details-main {
    display: flex;
    width: 85vw;
    padding-bottom: 15px;
    margin-left: 7vw;

}
.spot-details-top-left {
    display: inline;
    width: 100%;
}

.spot-details-star-ratings {
    display: inline;
    margin-right: 1vw;


}
.spot-details-num-reviews {
    display: inline;
    text-decoration: underline;
    font-size: 14.5px;
    width: auto;
    font-family:"Figtree", sans-serif

}

.spot-details-location{
    margin-left: 1.2vw;
    text-decoration: underline;
    font-size: 14.5px;
    width: auto;
    display: inline;
    font-family:"Figtree", sans-serif
}

.spot-details-edit {
    margin-left: 36vw;
    padding-right: 2vw;
    width: 350px;
}

.spot-details-edit a {
    text-decoration: none;
}

.spot-details-edit a:hover {
    text-decoration: underline;
}



.spot-details-delete {
    border-radius: 50px;
    color: black;
    background-color: white;
}

.spot-details-delete:hover {

    background-color: red;
}


.singlespotpage-images-container {
    display: flex;
    flex-direction: row;
    width: 86%;
    margin-left: 4.5%;
    height: auto;

}
.spotpage-image-container {
    width: 100%;
    height: 100%
}

.actual-spotImage {
   width: 100%;
   border-radius:1.4%;
   height: 100%
}

.singlespot-errors {
    margin-left: 5vw;
}

.home-hosted {
    margin-left: 7vw;
    margin-bottom: 2vh;
    font-family: "Figtree", sans-serif;
    font-size: 25px;
}

.reviews-bookings {
    display: flex;
    flex-direction: row;
    width: 93%;
    justify-content: space-between;
    margin-top: 5vh;
}

.review-top-line {
    display: flex;
    gap: 50vw;
    width: 100%;
    margin-bottom: -.5%
}

.line-div::before {
    content: "";
    display: inline-block;
    width: 53vw;
    border-bottom: 1px solid rgb(176, 173, 173);
    margin-right: 10px;
    margin-left: 7vw
  }

 .review-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7vw;
 }


.create-review-navlink {
    text-decoration: none;
    font-family: "Figtree", sans-serif;
    font-size: 18px;
    margin-bottom: 1.5vh
}

.create-review-navlink:hover {
    text-decoration: underline;
}

.review-user {
    text-decoration: underline;
}



.review-container {
    margin-bottom: 5vh;
}


.review-container div{
    margin-bottom: 1vh;
}


.review-delete {
    border-radius: 50px;
    color: black;
    background-color: white;
}


.review-delete:hover {

    background-color: red;
}




@media screen and (min-width: 2560px) {
    .singlespotpage-images-container {
      margin-left: 5%;
    }

  }
