.trips-container {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: -5.5vh;
}

.trips-header{
    margin-bottom: 6vh;
    font-size: 32px;
}

.bookings-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}
.no-trips-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    margin-bottom: 5vh;
    border: 1px solid lightgray;
    border-radius: 10px
}

.no-trips-container-info{
    margin-left: 2.5%;
    margin-top: 4.5%
}

.no-booking-line1{
    font-size: 1.33vw;
    font-weight: 500;
    margin-bottom: 1.8vh;
}

.no-booking-line2{
    font-size: 1.06vw;
    margin-bottom: 2.8vh;
}


.start-searching{
    cursor: pointer;
      background: linear-gradient(
        90deg,
        #d70464,
        #d90661,
        #dc0a5e,
        #de0d5b,
        #e01158,
        #e21555,
        #e31952,
        #e51d4f
      );
      color: white;
      border-radius: 9px;
      width: 46%;
      height: 25%;
      font-size: 1.09vw

}

.no-trips-pic-container{
    width: 60%;
    height: 100%;
}

.no-trips-pic {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  object-fit: cover;
}


.bookings-container h2 {
    font-weight: 500;
}

.booking-image {
    width: 5.2vw;
    height: 9vh;
    border-radius: 9px;
}

.current-trips-container{
     margin-bottom: 5vh;

}

.trip-array{
    display: flex;
    flex-wrap: wrap;

}
.upcoming-trips-container {
    margin-bottom: 5vh;
}


.individual-booking {
    display: flex;
    flex-direction: row;
    margin-right: 3vw;
}
