.review-form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 25vw;
   margin-right: 25vw;
   border: 1px solid black;
   padding-bottom: 1vw;
}


.review-form.review-form-header {
    width: fit-content;
    font-size: 3vw;
}

.review-form> input {
    margin-top: .5vw;
    width: 29.5vw;
    height: 3vh;
}

.review-form> button {
    margin-top: 1.5vh;
    width: 30.8vw;
    margin-bottom: 2vh;
     border-radius: 50px;
    color: white;
    background: linear-gradient(
        90deg,
        #d70464,
        #d90661,
        #dc0a5e,
        #de0d5b,
        #e01158,
        #e21555,
        #e31952,
        #e51d4f
      );
    font-size: 1vw;
         padding-top: 1vh;
       padding-bottom: 1vh;
}

.review-form-header {
    color: red
}

.review-form-errors {
    margin-bottom: 1.8vh;
}

.review-button {
    cursor: pointer;
}
