.hidden {
    display: none
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    padding-bottom: 30px;
    margin-left: 6.9vw;
    margin-top: 3vh;
    align-items: center;
    align-content: center;
}

.Mimic-Spot-Link {
    padding-left: 400px;


}

.ActualLink {
    font-size: 1.5vw;
    text-decoration: none;
}





.AirBnbLogoHomeLink{
   /* padding-right: -20px; */
   /* max-width: 100%; */
   height: 5px;

}

/* .Mimic-Spot-Link {

} */

.profile-dropdown {
    border-radius: 20px;
    width: 4vw;
    line-height: 2vw;
    margin-bottom: 3px;
    background-color: white;
    /* margin-right: 2vw; */
    /* position: relative;
    left: 2.5vw; */
    /* margin-right: 100px; */
}

/* .profile-dropdown:hover {
    /* background-color: red; */
    /* margin-right: 2vw; */
    /* position: relative;
    left: 2.5vw; */
    /* margin-right: 100px;
}





#reviews-button  button{
    border-radius: 20px;
    color: black;
    background-color: white;
    /* margin-right: 1vw; */
    /* width: 4vw; */
    /* line-height: 2vw; */




#reviews-button  button:hover{
    background-color: red;
}

.profile-button-reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.drop-down-elements {
    position: relative;
    right: 9vw;
}

.LogIn-SignUp > button {
    border-radius: 50px;
    color: black;
    background-color: white;
}

.LogIn-SignUp > button:hover {

    background-color: red;
}
