.hidden {
    display: none
}



.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid rgb(196, 192, 192);
    padding-bottom: 1%;
    margin-bottom:5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

.AirBnbLogoHomeLink{
   height: 4px;
   margin-left: 7.2%;
   line-height: 1vh;
}

.ActualLink {
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 1vh;
    font-family: "Figtree", sans-serif;
}



.Mimic-Spot-Link > button {
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 1vh;
    font-family: "Figtree", sans-serif;
    /* Additional button-like styling */
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
}

.profile-dropdown {
    border-radius: 50px;
    width: 4vw;
    background-color: white;
}


.your-trips-navlink {
    text-decoration: none;
}

.your-trips-navlink:hover {
    text-decoration: underline;
}


.log-out-button {
    color: black;
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
  }

.log-out-button:hover{
    text-decoration: underline;
}




#reviews-button button{
    border-radius: 20px;
    color: black;
    background-color: white;
}



#reviews-button  button:hover{
    background-color: red;
}

.profile-button-reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 7.2%;
    margin-bottom: 0;
    margin-top: 0;
}

.drop-down-elements {
    position: relative;
    right: 9vw;
}

.LogIn-SignUp {
    padding-right: 7.6%;
}

.LogIn-SignUp > button {
    border-radius: 50px;
    color: black;
    background-color: white;
}

.LogIn-SignUp > button:hover {

    background-color: red;
}
