.login-form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 30vw;
   height: 20vw;
   margin-bottom: 2vh;
}

.login-form> * {
    margin-bottom: 1vh;
}

.login-form-header {
    color: red
}

.login-errors {
    font-size: 1vw;
}

.login-form input {
    width: 14vw;
    height: 3vh
}
.login-button {
    border-radius: 50px;
    color: white;
    background: linear-gradient(
        90deg,
        #d70464,
        #d90661,
        #dc0a5e,
        #de0d5b,
        #e01158,
        #e21555,
        #e31952,
        #e51d4f
      );
       width: 15vw;
       font-size: 1vw;
       padding-top: 1vh;
       padding-bottom: 1vh;
}

.login-button:hover {
    cursor: pointer;
}

.demo-user-button {
    border-radius: 50px;
    color: white;
    background: linear-gradient(
        90deg,
        #d70464,
        #d90661,
        #dc0a5e,
        #de0d5b,
        #e01158,
        #e21555,
        #e31952,
        #e51d4f
      );
       width: 15vw;
       font-size: 1vw;
       padding-top: 1vh;
       padding-bottom: 1vh;
}

.demo-user-button:hover {
    cursor: pointer;
}
