.login-form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 30vw;
   height: 20vw;
   margin-bottom: 2vh;
}

.login-form> * {
    margin-bottom: 1vh;
}

.login-form-header {
    color: red
}

.login-errors {
    font-size: 1.3vw;

}
.login-button {
    border-radius: 50px;
    color: black;
    background-color: white;
    width: 15vw
}

.login-button:hover {
    background-color: red;
}

.demo-user-button {
    border-radius: 50px;
    color: black;
    background-color: white;
    width: 15vw
}

.demo-user-button:hover {
    background-color: red;
}
